<nav class="bg-blue-600 text-white p-4 flex justify-between items-center">
  <div class="text-xl font-bold">
    <a href="/" class="hover:text-yellow-300">My Projects</a>
  </div>
  <ul class="flex space-x-6">
    <li><a href="/" class="hover:text-yellow-300">Home</a></li>
    <li><a href="/solutions/projects" class="hover:text-yellow-300">Projects</a></li>
    <li><a href="/solutions/add" class="hover:text-yellow-300">Add Project</a></li>
  </ul>
</nav>
